#box{
    height: 200px;
    width: 200px;
    background-color: cornflowerblue;
    margin-bottom: 30px;
    display: block;
}
#div-deatiles{
    padding: 8px;
    display: block;
}
.select-box {
    padding: 8px;
    font-size: 16px;
}
.q3-container{
    margin-top: 30px;
}
#display-programming-langagues{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px;
}
.form-field{
    width: 400px;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px 0px 40px;
}
.error{
    color: red;
}